<template>
  <div class="content-section" :style="{ 'height': `calc(100% - ` + sectionHeight + `)` }">
    <h1>A section about me</h1>
  </div>
</template>

<script>
export default {
  name: 'AboutMe',
  props: {
    sectionHeight: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>