<template>
  <div class="content-section" :style="{ 'height': `calc(100% - ` + sectionHeight + `)` }">
   <h1>{{title}}</h1>
  </div>
</template>

<script>
export default {
  name: 'ContactMe',
  data () {
    return {
      title: 'Contact Me'
    }
  },
  props: {
    sectionHeight: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>