<template>
  <div>
    <div class="header-wrapper" :style="{'background-image': 'url(' + require('../assets/me2_reduced.png') + ')'}">
      <div class="content">
        <div class="description">
          <h1 class="display-3">Software Engineer</h1>
          <p class="headline font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <v-btn class="grey darken-4 white--text subheading" large>Hire me!</v-btn>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      //
    }
  },
  props: {
    //msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header-wrapper {
  padding-top: 63px;
  padding-bottom: 100px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
}

h1 {
  font-size: 3.3em;
  line-height: 114%;
}

p {
  font-size: 1.4em;
  line-height: 130%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: -1;
  display: inline-block;
  content: "";
  background: linear-gradient(-65deg , transparent 0%, transparent 46.9%, rgb(255,255,255) 47%, rgb(255,255,255) 100%);
}

.content {
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1232px;
  margin: auto;

  position: relative;
  z-index: 50;
}

.description {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 45%;
}

.description > button {
  margin-left: 0;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    background-position: 100% 265px;
  }

  .content {
    width: inherit;
  }

  .description {
      padding-top: 0;
      padding-bottom: 120%;
      width: inherit;
      text-align: center;
  }

  .overlay {
    background: linear-gradient(5deg , transparent 0%, transparent 51.9%, rgb(255,255,255) 52%, rgb(255,255,255) 100%);
  }
}
</style>