<template>
  <v-toolbar :fixed="float">
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>Title</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat>Link One</v-btn>
      <v-btn flat>Link Two</v-btn>
      <v-btn flat>Link Three</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      tabs: [
        'Home',
        'About',
        'Portfolio',
        'Skills',
        'Contact'
      ],
      icons: [
        'mdi-facebook-box',
        'mdi-instagram',
        'mdi-linkedin-box',
        'mdi-twitter-box',
        'mdi-bitbucket',
        // 'mdi-email'
      ]
    }
  },
  props: {
    float: Boolean
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>