<template>
  <div class="content-section" :style="{ 'height': `calc(100% - ` + sectionHeight + `)` }">
    <h1>Home</h1>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      title: 'Home'
    }
  },
  props: {
    sectionHeight: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>