<template>
  <div class="content-section" :style="{ 'height': `calc(100% - ` + sectionHeight + `)` }">
    Services
  </div>
</template>

<script>
export default {
  name: 'Services',
  data () {
    return {
      //
    }
  },
  props: {
    sectionHeight: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>