<template>
  <v-app v-resize="onResize" >
    <!-- <Header /> -->
    <v-content>
      <Home :sectionHeight="toolbarHeight" />
      <Header id="toolbar" v-scroll :float="floatHeader" />
      <AboutMe :sectionHeight="toolbarHeight" />
      <Portfolio :sectionHeight="toolbarHeight" />
      <Skills :sectionHeight="toolbarHeight" />
      <ContactMe :sectionHeight="toolbarHeight" />
    </v-content>
  </v-app>
</template>

<script>
import Header from './components/Header'
import Home from './components/Home'
import Skills from './components/Skills'
import AboutMe from './components/AboutMe'
import Portfolio from './components/Portfolio'
import ContactMe from './components/ContactMe'

export default {
  name: 'App',
  components: {
    Header,
    Home,
    Skills,
    AboutMe,
    Portfolio,
    ContactMe,
  },
  data () {
    return {
      floatHeader: false,
      toolbarHeight: '64px'
    }
  },
  mounted () {
    this.onResize();
  },
  methods: {
    onResize () {
      setTimeout(() => {
        var h = '64px';
        var el = document.getElementById('toolbar');
        if (el) {
          h = `${el.getBoundingClientRect().height}px`;
        }
        else {
          switch (this.$vuetify.breakpoint.name) {
            case 'xs': h = '56px'; break;
            case 'sm': h = '48px'; break;
            case 'md': h = '64px'; break;
            case 'lg': h = '64px'; break;
            case 'xl': h = '64px'; break;
          }
        }

        this.toolbarHeight = h;
      }, 500);
    }
  },
  directives: {
    scroll: {
      // directive definition
      // eslint-disable-next-line
      inserted: function (el, binding, vnode) {
        setTimeout(() => {
          const y = el.getBoundingClientRect().y;
          // var hasRun = false;
          let f = function (evt) {
            if (window.scrollY > y) {
              vnode.context.floatHeader = true;
            } else if (window.scrollY < y) {
              vnode.context.floatHeader = false;
            }
          }

          window.addEventListener('scroll', f)
        }, 50);
      }
    }
  },
}
</script>

<style>
.content-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
</style>